<% breadcrumb :root %>
<div class="container">
  
<h1>後台施工中</h1>
<p>控制台首頁囉</p>
<p>Page Title : <%=page_title%></p>
<p><%=controller_path%></p>
<p><%=controller_name%></p>
<p><%=action_name%></p>

<!-- .constantize -->

</div>