
#front-nav.sub-page {
    top: 55px;
}
#front-nav .inner-nav a:nth-child(2) {
    background: white;
    height: auto;
}

#front-nav .inner-nav a:nth-child(2):hover {
    color: #6FB2DE;
}

#sections .row {
    margin-left: auto;
}
