@import "compass";
@import "ceaser-easing";
@import "retina";
$blue-color:  #173E71;
.staff-all {
  transition:visibility 0s linear 1s,opacity 1s linear;
  transition-property: visibility, opacity;
  transition-duration: 0s, 1s;
  transition-timing-function: initial, linear;
  transition-delay: 1s, initial;
  background: $blue-color;
  text-align: center;
  position: fixed;
  overflow: hidden;
  top:0;
  min-height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  a{
    color: #fff;
  }
}
.staff-all.group-active {
  transition-delay: 0s;
  opacity: 1;
  visibility:visible;
}
#staff-close span,
.info-close span {
  top: 25px;
}
#staff-close span, #staff-close span:before, #staff-close span:after, .info-close  span, .info-close  span:before, .info-close  span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 20px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}
a#staff-close, a.info-close {
  display: inline-block;
}
#staff-close.active span,
.info-close.active span {
  background-color: transparent;
}
#staff-close.active span:before, #staff-close.active span:after, .info-close.active span:before, .info-close.active span:after {
  top: 0;
}
#staff-close.active span:before,
.info-close.active span:before {
  transform: rotate(45deg);
}
#staff-close.active span:after,
.info-close.active span:after  {
  transform: rotate(-45deg);
}
// .speaker-info.row.active {
//   margin: 0;
// }
.speaker-info {
  transition:visibility 0s linear 1s,opacity 1s linear;
  transition-property: visibility, opacity;
  transition-duration: 0s, 1s;
  transition-timing-function: initial, linear;
  transition-delay: 1s, initial;
  background: $blue-color;
  text-align: center;
  position: fixed;
  overflow: hidden;
  top:0;
  margin: 0;
  min-height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 5;
  visibility: hidden;
  a{
    color: #fff;
  }
}
.speaker-info.info-active {
  transition-delay: 0s;
  opacity: 1;
  visibility:visible;
}

