// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green-color: #66CC99;
$blue-color: #173E71;
$coc-pink:#ED4D84;

html{
	width: 100%;
	overflow-x: hidden;
}
body{
	margin:0;
	overflow-x:hidden;
}
img{
	max-width: 100%;
}
.block{
	background-color: $blue-color;
}
.row{
margin-left: 30%;
background-color: transparent;
}
#home{
	background-color: #173E71;
	background-image: url('background_icon.png');
	padding: 128px 0 0px 0;
	.logo{
	text-align: center;
	}
	.bg_icon{
		z-index: 0;
	}
	img.ruby{
	  position: absolute;
	  top: 130px;
  	  right: 28%;
	}
	img.cloud2{
     position: absolute;
     top: 38px;
     left: 17%;

	}
	img.cloud1{
	 position: absolute;
     top: 541px;
     right: 8.7%;
	}
	img.cloud3{
     // position: absolute;
     margin-top: 50px;
	 margin-left: 96%;
	 overflow-x: hidden;
	 z-index: 1;
	}
	img.shovel{
	position: absolute;
	z-index: 0;
	right: 13%;
	top:635px;
	}

	.social{
  	position: absolute;
  	right: 36px;
  	top:314px;
  	width: 50px;
  		img{
  			margin-bottom: 26px;
  		}
	}
	.info{
		text-align: center;
		display: block;
		color: #fff;
		margin-top: -5%;
		margin-bottom: 2%;
		font-family: "Songti TC";
		img{float:left;}
		p{float:left;letter-spacing: 2px;  margin-left: 10px;}
		.info-inner{
			display: inline-block;
			margin: 0 3%;
		}

	}
	.btn{
		text-align: center;
		display: block;
		text-transform: capitalize;
		font-size: 14pt;
		height: 67px;
		a{
			text-decoration: none;
		}
		.white_btn{
			background-color: #fff;
			border: 2px solid #fff;
			border-radius: 3px;
			color: $blue-color;
			padding: 20px 85px;
			margin: 0 15px;

		}
		.blue_btn{
			background-color: $blue-color;
			border: 2px solid #fff;
			border-radius: 3px;
			color: #fff;
			padding: 20px 64px;
			margin: 0 15px;
		}

	}
	.disabled{
		cursor: default;
		opacity: 0.5;
	}

}
.nav > li > a:hover, .nav > li > a:focus {
	  list-style-image:url('menu_line_hover.png');
	   background: transparent;
}
#front-nav{
	position: fixed;
	top: 80px;
 	left: 68px;
 	z-index: 2;
	li {
	  list-style-image:url('menu_line.png');
	  margin: 15px 0px;
	}
	li:hover{
	  list-style-image:url('menu_line_hover.png');
	  
	}
	li a{
	 	opacity: 0;
	}
	
}

img.mountain{
max-width: 104%;
width: 100%;
z-index: 1;
}

#speaker,#sponsor{
	background-color: $green-color;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;


	.col-sm-4{
	padding-left: 60px;
  	padding-right: 60px;
  	padding-bottom: 100px;
	}
	h3{
		font-family: "Tamil MN";
		font-weight: bold;
		color: #318777;
		font-size: 20px;
	}
	p{
		color: #fff;
	}
	.level{
		padding: 30px;
	}
	img.sponsor_ruby{
		width: 60%;
	}
}

#speaker{
  padding-top: 0;
}

#coc{
	background-color: $coc-pink;
	color: #fff;

	h1{
		font-family: "Tamil MN";
		font-weight: bold;
		font-size: 50px;
	}
	p{
		font-family: "Helvetica Neue";
		font-size: 20px;
		line-height: 2;
	}
	.col-sm-12{
		margin: 106px 0;
		padding-right: 50px;
	}
}
#schedule{
	background-color: #4BA9FA;
	text-align: center;
	padding-top: 70px;
	color: #fff;
	h1{
		font-family: "Tamil MN";
		font-size: 28px;
		font-weight: bold;
		line-height: 1.5;
	}
	.row{
	margin-left: 30%;
	}
	.call-for-proposal {
	  margin: 8% 0 ;
	}
	.schedule-frame {
	  width: 589px;
	  height: 358px;
	  margin-left: 15%;
	  position: absolute;
	  background:url('schedule.png');
	}
	img.dwarf-schdule {
	  position: absolute;
	  right: 100px;
	}
	.schedule-bottom{
		margin-top: 320px;
	}
	.btn{
		text-align: center;
		text-transform: capitalize;
		font-size: 14pt;
		a{
			text-decoration: none;
		}
		.white_btn{
			background-color: #fff;
			border: 2px solid #fff;
			border-radius: 3px;
			color: #4BA9FA;
			padding: 20px 85px;
			margin: 0 15px;

		}
		.blue_btn{
			background-color: transparent;
			border: 2px solid #fff;
			border-radius: 3px;
			color: #fff;
			padding: 20px 85px;
			margin: 0 15px;
		}

	}
}
.table-schedule{
	width: 90%;
	thead{
		background-color: #469EEB;
	}
	th{
	padding: 25px;
	text-align: center;
	}
}

.table-schedule>tbody>tr:nth-of-type(even) {
  background-color: #469EEB;
}
.tab-content{
  display: none;
}

.tab-content.current{
	display: table;
}

#staff{
	position: relative;
	z-index: -1;
	img.footer-bg{
		width: 100%;
	}
	.dwarf1{
	position: absolute;
	left: 850px;
	bottom: 145px;
	}
	.dwarf2{
	position: absolute;
	left: 1065px;
  	bottom: 65px;
  	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
	}
	.dwarf3{
	position: absolute;
	left: 100px;
  	bottom: 65px;
	-moz-transform: matrix(-1, 0, 0, 1, 0, 0);
	-webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
	}
}

