// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green-color: #66CC99;
$blue-color: #173E71;
$coc-pink:#ED4D84;

html{
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}
body{
  min-height:100%;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
  color: #ffffff;
}
img{max-width: 100%;}
a{text-decoration: none;}
a:hover{text-decoration: none; color: inherit;}

.row{
  margin-left: 30%;
  background-color: transparent;
}
#sections{
  position: relative;
  height: 100%;
  display: block; 
}
/*--------------Tube-----------*/
#tub_repeat{
  position: absolute;
  background-image: image-url("tub_repeat_y.png");
  background-repeat: repeat-y;
  background-position: 237px 0%;
  width: 100%;
  top:650px;
  bottom: 80px;
}
img.tub_top{
  position: absolute;
  left: 222px;
}
img.tub-bottom{
  position: absolute;
  left: 300px;
  bottom: 155px;
}

/*--------------button-----------*/
.btn-group{
  text-align: center;
  display: block;
  text-transform: capitalize;
  font-size: 14pt;
  height: 67px;
  margin-left: 30%;
}
.blue_btn:hover{
  color: #fff;
}
.white_btn{
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 3px;
  color: $blue-color;
  padding: 20px 85px;
  margin: 0 15px;
  cursor: pointer;
}
.white_btn:hover{
  color: $blue-color;
}
.blue_btn{
  background-color: $blue-color;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 20px 64px;
  margin: 0 15px;
  cursor: pointer;
}
.blue_btn:hover,.sky_blue_btn:hover{
  color: #fff;
}

.sky_blue_btn{
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #fff;
  padding: 20px 64px;
  margin: 0 15px;
  cursor: pointer;
  text-transform: capitalize;
}
.btn-disabled{
  cursor: default;
  opacity: 0.2;
}
/*--------------nav-----------*/
#front-nav{
  position: fixed;
  top: 247px;
  left: 68px;
  z-index: 2;
  li {
    list-style-image:image-url('menu_line.png');
    margin: -15px 0px;

  }
  li:hover{list-style-image:image-url('menu_line_hover.png');}
  li a{opacity: 0;}
}
/*--------------Home-----------*/
#home{
  padding: 128px 0 0px 0;
  background-color: #173E71;
  background-image: image-url('background_icon.png');
}
.info{
  display: block;
  margin-top: -5%;
  margin-bottom: 2%;
  text-align: center;		
  font-family: "Songti TC";
    img{float:left;}
    p{float:left;letter-spacing: 2px;  margin-left: 10px;}
}
.info-inner{
  display: inline-block;
  margin: 0 3%;
}

.logo{
  text-align: center;
}
.social{
  position: absolute;
  right: 36px;
  top:314px;
  width: 50px;
  img{margin-bottom: 26px;}
}

/*--------------Home IMG-----------*/
img.ruby{
  position: absolute;
  top: 130px;
  right: 28%;
}
img.cloud2{
  position: absolute;
  top: 38px;
  left: 17%;
}
img.cloud1{
  position: absolute;
  top: 541px;
  right: 8.7%;
}
img.cloud3{
  margin-top: 50px;
  margin-left: 96%;
  overflow-x: hidden;
  z-index: 1;
}
/*--------------speaker & sponsor-----------*/
.block{background-color: $blue-color;}
img.mountain{
  max-width: 104%;
  width: 100%;
}
#speaker,#sponsor{
  background-color: $green-color;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;	
  h3{
	font-family: "Tamil MN";
	font-weight: bold;
	color: #318777;
	font-size: 20px;
  }
}
img.sponsor_ruby{width: 60%;}
.level{padding: 30px;}
.col-sm-4{
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 100px;
}
#speaker{padding-top: 0;}
/*--------------COC-----------*/
#coc{
  background-color: $coc-pink;
  color: #fff;
  h1{
	font-family: "Tamil MN";
	font-weight: bold;
	font-size: 50px;
  }
  p{
	font-family: "Helvetica Neue";
	font-size: 20px;
	line-height: 2;
  }
}
.col-sm-12{
  margin: 106px 0;
  padding-right: 50px;
}
/*--------------schedule-----------*/
#schedule{
  background-color: #4BA9FA;
  background-image: image-url('empty_speaker_mountain2.png');
  background-repeat:no-repeat;
  background-size:100% auto;
  background-position:center bottom;
  text-align: center;
  padding-top: 70px;
  color: #fff;
  h1{
	font-family: "Tamil MN";
	font-size: 28px;
	font-weight: bold;
	line-height: 1.5;
  }
}
.call-for-proposal {
  padding: 8% 0 ;
}
.schedule-frame {
  width: 589px;
  height: 358px;
  margin-left: 15%;
  margin-bottom: 15%;
  background:image-url('schedule.png');
  background-position:center bottom;
   background-size:100% auto;
}
.schedule-bottom{
  //margin-top: 320px;
  
}

/*--------------schedule table-----------*/
.table-schedule{
  width: 90%;
  thead{
	background-color: #469EEB;
  }
  th{
	padding: 25px;
	text-align: center;
  }
}
.table-schedule>tbody>tr:nth-of-type(even) {
  background-color: #469EEB;
}
.tab-content{display: none;}
.tab-content.current{display: table;}
/*--------------staff-----------*/
img.footer-bg{width: 100%;}

.dwarf2{
  position: absolute;
  left: 1065px;
  bottom: 65px;
  -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
}
