<ul class="nav nav-pills nav-stacked ">
  <h2 class="sidebar-heading">演講者</h2>
  <li role="presentation"><%= link_to '演講者列表' , backend_speakers_path %></li>
  <li role="presentation"><%= link_to '新增演講者' , new_backend_speaker_path %></li>
  <li role="presentation"><%#= link_to '產品列表', backend_products_path %></li>
  <li role="presentation"><%#= link_to '新增商品', new_backend_product_path%></li>
  <h2 class="sidebar-heading">贊助商</h2>  
  <li role="presentation"><a href="#">贊助商列表</a></li>
  <li role="presentation"><a href="#">新增贊助商</a></li>
</ul>

<ul class="nav nav-pills nav-stacked">
    <h2 class="sidebar-heading">最新消息</h2>
  <li role="presentation"><a href="#">文章列表</a></li>
  <li role="presentation"><a href="#">新增消息</a></li>
</ul>

<ul class="nav nav-pills nav-stacked">
    <h2 class="sidebar-heading">作者</h2>
  <li role="presentation"><%= link_to '作者列表' , backend_users_path %></li>
  <li role="presentation"><%= link_to '新增作者' , new_user_path %></li>
</ul>
